* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: arboria, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.4;
}

body {
    background: #370050;
    color: #fff;
}

::selection {
    color: #fff;
    background: #370050;
}

.start_btn,
.info_box,
.quiz_box,
.result_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info_box.activeInfo,
.quiz_box.activeQuiz,
.result_box.activeResult {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.start_btn button {
    font-size: 25px;
    font-weight: 500;
    border: none;
    background: #fff;
    color: #370050;
    padding: 15px 30px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.info_box {
    width: 540px;
    opacity: 0;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    pointer-events: none;
    color: #370050;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.3s ease;
}

.info_box .info_title {
    height: 60px;
    border-bottom: 1px solid #370050;
    display: flex;
    align-items: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.info_box .info_list {
    padding: 15px 35px;
}

.info_box .info_list .info {
    margin: 5px 0;
    font-size: 17px;
}

.info_box .info_list .info span {
    font-weight: 600;
    color: #c81162;
}

.info_box .buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    padding: 0 35px;
    border-top: 1px solid #370050;
}

.info_box .buttons button {
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    background: #fff;
    color: #370050;
    margin: 0 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons button.restart {
    background: #ec6225;
    border-color: #ec6225;
    color: #fff;
}

.buttons button.restart:hover {
    background: #f49e2f;
}

.buttons button.quit {
    color: #ec6225;
    border-color: #ec6225;
}

.buttons button.quit:hover {
    background: #ec6225;
    color: #fff;
}

.quiz_box {
    width: 550px;
    background: #fff;
    border-radius: 20px;
    opacity: 0;
    color: #370050;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.3s ease;
    pointer-events: none;
}

.quiz_box header {
    position: relative;
    z-index: 2;
    height: 70px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 3px 5px 1px rgb(0, 0, 0, 0.1);
}

.quiz_box header .title {
    font-size: 20px;
    font-weight: 600;
    color: #370050;
}

.quiz_box header .timer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 165px;
    height: 45px;
    background: #ec6225;
    border-radius: 20px;
    color: #fff;
    border: 1px solid #370050;
    padding: 0 19px;
}

.quiz_box header .timer .time_left_txt {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    user-select: none;
}

.quiz_box header .timer .timer_sec {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    background: #370050;
    height: 30px;
    width: 45px;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    border: 1px solid #fff;
    user-select: none;
}

.quiz_box header .time_line {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    background: linear-gradient(270deg, #c81162, #f49e2f);
}

section {
    padding: 25px 30px 20px 30px;
    background: #fff;
}

.quiz_box section .que_text {
    font-size: 25px;
    font-weight: 600;
}

.quiz_box section .option_list {
    padding: 20px 0;
    display: block;
}

section .option_list .option {
    background: #370050;
    border: 1px solid #ec6225;
    border-radius: 20px;
    padding: 8px 15px;
    margin-bottom: 15px;
    font-size: 17px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.3s ease;
}

section .option_list .option:hover {
    background: #ec6225;
    color: #fff;
    border-color: #370050;
}

section .option_list .option:last-child {
    margin-bottom: 0;
}
/*!!!*/
section .option_list .option.correct {
    color: #23903c;
    background: #d4edda;
    border-color: #23903c;
}

section .option_list .option.incorrect {
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}
section .option_list .option.disabled {
    pointer-events: none;
}

.option_list .option .icon {
    width: 26px;
    height: 26px;
    border: 2px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 13px;
    line-height: 24px;
    pointer-events: none;
    transition: all 0.3s ease;
}

/*.option_list .option .icon.tick {
    color: #23903c;
    background: #d4edda;
    border-color: #23903c;
}

.option_list .option .icon.cross {
    color: #a42834;
    background: #f8d7da;
    border-color: #a42834;
}*/

footer {
    height: 60px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #370050;
}

footer .total_que span {
    display: flex;
    user-select: none;
}

footer .total_que span p {
    font-weight: 500;
    padding: 0 5px;
    margin: 0;
}

footer .total_que span p:first-child {
    padding-left: 0;
}

footer .next_btn {
    height: 40px;
    padding: 0 19px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    background: #ec6225;
    border-radius: 20px;
    cursor: pointer;
    border-radius: 1px solid #ec6225;
    transition: all 0.3s ease;
    line-height: 10px;
    opacity: 0;
    transform: scale(0.95);
}

footer .next_btn:hover {
    background: #f49e2f;
}

footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.result_box {
    background: #fff;
    width: 450px;
    color: #370050;
    padding: 25px 30px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    opacity: 0;
    justify-content: space-between;
    flex-direction: column;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.3s ease;
}

.result_box .icon {
    font-size: 100px;
    color: #ec6225;
    margin-bottom: 10px;
}

.result_box .coplete_text {
    font-size: 20px;
    font-weight: 500;
}

.result_box .score_text span {
    display: flex;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 500;
}

.score_text span p {
    padding: 0 4px;
    font-weight: 600;
    margin-top: 0;
}

.result_box .buttons {
    display: flex;
    margin: 20px 0;
}

.result_box .buttons button {
    margin: 0 10px;
    height: 45px;
    padding: 0 20px;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid transparent;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
